---
// @ts-nocheck
import { Image } from "astro:assets";
import Headline from "../../common/shared/Headline.astro";
import Wrapper from "../../common/shared/Wrapper.astro";
import Point from "./Point.astro";
import "./introPoints.scss";

const { title, subTitle, points } = Astro.props.data;

import mountains from "../../../assets/mountains.png";
---

<div class="intro-points">
  <Wrapper classes="intro-points-wrapper">
    <div class="intro-points-headlines">
      <Headline ele="h2" hlstyle="one">{title}</Headline>
      <Headline ele="h3" hlstyle="two">{subTitle}</Headline>
    </div>
    <div class="intro-points-container">
      {
        points.map((point, index) => {
          const iconSrc = point?.icon?.node?.sourceUrl;
          const iconAlt = point?.icon?.node?.altText || "";

          return (
            <Point
              content={point.content}
              iconSrc={iconSrc}
              iconAlt={iconAlt}
              index={index}
            />
          );
        })
      }
    </div>
  </Wrapper>
  <div class="intro-points-graphic">
    <img src={mountains.src} alt={"Mountain background"} />
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";
  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrollTrigger);

  const trigger = document.querySelector(".intro-points");
  const title = document.querySelectorAll(".intro-points h2");
  const subTitle = document.querySelectorAll(".intro-points h3");
  const points = document.querySelectorAll(".intro-points-point");

  const mainTitle = new SplitText(title, {
    type: "words, chars",
  });

  const mainSubTitle = new SplitText(subTitle, {
    type: "words, chars",
  });

  const allDoneTitle = () => {
    mainTitle.revert();
  };

  const allDoneSubTitle = () => {
    mainSubTitle.revert();
  };

  gsap.set(title, { perspective: 400 });
  gsap.set(subTitle, { perspective: 400 });

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: trigger,
      start: "top 40%",
      markers: false,
    },
  });

  tl.add("start")
    .from(mainTitle.chars, {
      autoAlpha: 0,
      rotation: -20,
      x: -10,
      duration: 0.4,
      ease: "back.out(1.7)",
      stagger: {
        each: 0.02,
      },
      onComplete: allDoneTitle,
    })
    .from(
      mainSubTitle.chars,
      {
        autoAlpha: 0,
        rotation: -20,
        x: -10,
        duration: 0.4,
        ease: "back.out(1.7)",
        stagger: {
          each: 0.02,
        },
        onComplete: allDoneSubTitle,
      },
      "start+=0.4",
    )
    .fromTo(
      points,
      { autoAlpha: 0, y: 200 },
      {
        duration: 1,
        autoAlpha: 1,
        y: 0,
        ease: "power2.out",
        stagger: {
          each: 0.5,
        },
      },
      "start",
    );

  //icons

  const icons = document.querySelectorAll(".intro-points-point-icon img");

  const tlIcons = gsap.timeline();

  tlIcons.add(() => {
    icons.forEach((icon, index) => {
      const rock = gsap.timeline({
        repeat: -1,
        repeatDelay: 1.5, // A longer delay feels more natural for a sway
        delay: index * 0.3, // Staggered start
        defaults: { duration: 0.5, ease: "power1.inOut" }, // Slower duration for rocking
      });

      // Rocking movement
      rock
        .to(icon, { rotation: 10 }) // Tilt right
        .to(icon, { rotation: -10 }) // Tilt left
        .to(icon, { rotation: 7 }) // Smaller tilt right
        .to(icon, { rotation: -7 }) // Smaller tilt left
        .to(icon, { rotation: 0 }); // Back to center
    });
  });
</script>
