---
import { Image } from "astro:assets";
import Button from "../../common/shared/Button.astro";
import Wrapper from "../../common/shared/Wrapper.astro";
import "./aboutIntro.scss";

const { title, content, buttonText, buttonLink, image, icon } =
  Astro.props.data;

const imageSrc = image?.node?.sourceUrl;
const imageAlt = image?.node?.altText || "";
const iconSrc = icon?.node?.sourceUrl;
const iconAlt = icon?.node?.altText || "";
---

<div class="about-intro">
  <Wrapper classes="about-intro-wrapper">
    <div class="about-intro-content">
      <div class="about-intro-content-title">
        <h2>
          {title}
          <span class="about-intro-content-title-icon">
            <Image
              src={iconSrc}
              alt={iconAlt}
              format="webp"
              widths={[800, 1200, 1600, 2000]}
              sizes="100vw"
              loading="eager"
              inferSize={true}
              class=""
            />
          </span>
        </h2>
      </div>
      <div class="about-intro-content-paragraph" set:html={content} />
      <div class="about-intro-content-botton">
        <Button ele="a" btnstyle="one" href={buttonLink.edges[0].node.uri}
          >{buttonText}</Button
        >
      </div>
    </div>
    <div class="about-intro-image">
      <Image
        src={imageSrc}
        alt={imageAlt}
        format="webp"
        widths={[800, 1200, 1600, 2000]}
        sizes="100vw"
        loading="eager"
        inferSize={true}
        class=""
      />
    </div>
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const trigger = document.querySelector(".about-intro");
  const imageOne = document.querySelector(".about-intro-image");
  const imageTwo = document.querySelector(".about-intro-content");

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: trigger,
      start: "top 50%",
      markers: false,
    },
  });

  tl.add("start")
    .fromTo(
      imageOne,
      { autoAlpha: 0, x: -200 },
      {
        duration: 1,
        autoAlpha: 1,
        x: 0,
        ease: "power2.out",
      },
    )
    .fromTo(
      imageTwo,
      { autoAlpha: 0, x: 200 },
      {
        duration: 1,
        autoAlpha: 1,
        x: 0,
        ease: "power2.out",
      },
      "start+=0.5",
    );
</script>
