---
import Wrapper from "../../common/shared/Wrapper.astro";
import { Image } from "astro:assets";
import "./pageCta.scss";
import Headline from "../../common/shared/Headline.astro";
import Button from "../../common/shared/Button.astro";
import Wysiwyg from "../../common/shared/Wysiwyg.astro";

const {
  title,
  subTitle,
  content,
  buttonOneText,
  buttonOneLink,
  buttonTwoText,
  buttonTwoLink,
  image,
} = Astro.props.data;

const imageSrc = image?.node?.sourceUrl;
const imageAlt = image?.node?.altText || "";
---

<div class="page-cta">
  <div class="page-cta-bgimage">
    <div class="page-cta-bgimage-container">
      <Image
        src={imageSrc}
        alt={imageAlt}
        format="webp"
        widths={[800, 1200, 1600, 2000]}
        sizes="100vw"
        loading="eager"
        inferSize={true}
        class=""
      />
    </div>
  </div>
  <Wrapper classes="page-cta-wrapper">
    <div class="page-cta-headlines">
      <Headline ele="h2" hlstyle="one">{title}</Headline>
      <Headline ele="h3" hlstyle="two">{subTitle}</Headline>
    </div>
    <div class="page-cta-content">
      <Wysiwyg>
        <div set:html={content} />
      </Wysiwyg>
    </div>
    <div class="page-cta-links">
      <Button ele="a" btnstyle="one" href={buttonOneLink.edges[0].node.uri}>
        {buttonOneText}
      </Button>
      <Button ele="a" btnstyle="two" href={buttonTwoLink.edges[0].node.uri}
        >{buttonTwoText}</Button
      >
    </div>
  </Wrapper>
</div>
