---
// @ts-ignore
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import CookieConsent from "../components/common/sharedReact/CookieConsent/CookieContent";

// Import Global Styles
import "../styles/styles.scss";
// Import Fonts
import "@fontsource/red-hat-text/400.css";
import "@fontsource/red-hat-text/500.css";
import "@fontsource/red-hat-text/600.css";

// Base Site Data
import { baseData } from "../data/siteData";

// What SEO data was passed via Astro.props
const {
  metaImg = null,
  metaTitle = null,
  metaDescription = null,
  isHome = false,
} = Astro.props;

// 2️⃣ SEO fallback data
const title = metaTitle ? metaTitle : baseData.title;
const description = metaDescription ? metaDescription : baseData.description;
const imgSrc = metaImg ? metaImg : baseData.siteImg;
const baseUrl = Astro.url ? Astro.url : baseData.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="image" content={imgSrc} />
    <link rel="canonical" href={baseUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- OpenGraph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={baseUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imgSrc} />
    <meta property="og:image:alt" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:locale" content={`en_US`} />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={baseUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imgSrc} />
    <meta name="twitter:image:alt" content={description} />
    <meta name="twitter:creator" content={"West Country RV Rentals"} />

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-TCCY4HJHWX"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      // Set everything to decline by default //
      gtag("consent", "default", {
        ad_storage: "denied",
        analytics_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "denied",
      });
      gtag("js", new Date());
      gtag("config", "G-TCCY4HJHWX");
    </script>

    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      // global function so that it can be called from anywhere
      // Updates consent for GA4 to granted if called
      window.consentGranted = function () {
        console.log("consent granted");
        gtag("consent", "update", {
          ad_storage: "granted",
          analytics_storage: "granted",
          functionality_storage: "granted",
          personalization_storage: "granted",
          security_storage: "granted",
        });
      };

      // Returns value of a cookie named 'cookie-consent'
      // Should be either "granted" or "denied"
      window.getCookieConsent = function () {
        try {
          const consent = document.cookie.match(
            /wcrv-cookie-consent=([^;]+)/,
          )[1];
          return consent;
        } catch (error) {
          return "unk";
        }
      };

      if (window.getCookieConsent() == "granted") {
        // If cookies already approved, set that
        console.log("default set to granted");
        gtag("consent", "default", {
          ad_storage: "granted",
          analytics_storage: "granted",
          functionality_storage: "granted",
          personalization_storage: "granted",
          security_storage: "granted",
        });
      } else {
        // default all to 'denied'.
        console.log("default set to denied");
        gtag("consent", "default", {
          ad_storage: "denied",
          analytics_storage: "denied",
          functionality_storage: "denied",
          personalization_storage: "denied",
          security_storage: "denied",
        });
      }
    </script>
  </head>
  <body>
    <Header isHome={isHome} />
    <slot />
    <CookieConsent client:only="react" />
    <Footer />
  </body>
</html>
